---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignTrailingComments:
  Kind: Always
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakAfterAttributes: Never
BreakBeforeBraces: Allman
ColumnLimit: 160
CompactNamespaces: false
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IncludeCategories:
  # Headers in "" with .h extension.
  - Regex: '"([A-Za-z0-9\/-_])+\.h"'
    Priority: 10
  # Headers in "" with .hpp extension.
  - Regex: '"([A-Za-z0-9\/-_])+\.hpp"'
    Priority: 20
  # Headers in <> with .h extension.
  - Regex: '<([A-Za-z0-9\/-_])+\.h>'
    Priority: 30
  # Headers in <> with .hpp extension.
  - Regex: '<([A-Za-z0-9\/-_])+\.hpp>'
    Priority: 40
  # Headers in <> without an extension.
  - Regex: '<([A-Za-z0-9\/-_])+>'
    Priority: 50
NamespaceIndentation: All
PointerAlignment: Middle
SpaceAfterTemplateKeyword: true
Standard: c++20
TabWidth: 4
UseTab: Always
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
DerivePointerAlignment: true
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
WhitespaceSensitiveMacros:
  - NIM_DISABLE_CLANG_WARNING
  - NIM_ENABLE_CLANG_WARNING_AS_ERROR
  - NIM_DISABLE_GCC_WARNING
  - NIM_ENABLE_GCC_WARNING_AS_ERROR
  - NIM_ENABLE_IGNORE_GCC_WARNING
  - NIM_DISABLE_IGNORE_GCC_WARNING
...
